﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form method="post">
    <div>
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" />
    </div>
    <div>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>